[submodule "lib/Simple-Websocket-Server"]
	path = lib/Simple-Websocket-Server
	url = https://github.com/eidheim/Simple-Websocket-Server
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson
